/* 초보투자자 tab on off */
.begin-tab-list .begin-list.on2{
    display: block;
}
.begin-tab-list .begin-list{
    display: none;
}
/* 알기 쉬운 파생상품 시장 */
.begin-tab-list.op-deal .begin-list.op-deal2.on3{
    display: block;
}
.begin-tab-list.op-deal .begin-list.op-deal2{
    display: none;
}

.begin-tab-list.op-deal .begin-list.op-deal2.on3{
    display: block;
}
.begin-tab-list.op-deal .begin-list.op-deal2{
    display: none;
}

.begin-tab-list.op-vari .begin-list.op-vari2.on4{
    display: block;
}
.begin-tab-list.op-vari .begin-list.op-vari2{
    display: none;
}

.etk-tab-list.etk .etk-list.etk2.on5{
    display: block;
}
.etk-tab-list.etk .etk-list.etk2{
    display: none;
}

/* tab 효과 */
.active2{
    color: #fff;
    background: #313946;
}
.active3{
    color: #fff;
    background: #313946;
}
.active4{
    color: #fff;
    background: #313946;
}
.active5{
    color: #00a8cd;
}
.active5::after{
    color: #9d9d9d;
}


/* 알기쉬운 파생상품 on off */



.child-main{
    max-width: 1280px;
    margin: 0 auto;
}
.sub-wrap{
    display: flex;
    margin: 140px 0;
    width: 100%;
}
/* lnb 영역 */
.lnb{
    min-width: 260px;
}
/* 컨텐츠 영역 */
.sub-contents-wrap{
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
}
.sub-contents-wrap .sub-tit-area{
    width: 100%;
    height: 110px;
    padding: 32px 0 0 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sub-tit{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.sub-tit .dot{
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    margin: 0 18px;
    border-radius: 50%;
    background: #000;
}
.sub-navi{
    padding-top: 17px;
    box-sizing: border-box;
    color: #9d9d9d;
}
.sub-navi .navi{
    display: flex;
    justify-content: flex-end;
}
.sub-navi .navi>li{
    display: flex;
    align-items: center;
}
.sub-navi .navi>li::after{
    display: inline-block;
    content: "";
    width: 3px;
    height: 3.2px;
    margin: 0 12.5px;
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    transform: rotate(45deg);
}
.sub-navi .navi>li.last::after{
    display: none;
}
.video-child-cont{
    width: 100%;
    padding-top: 46px;
    box-sizing: border-box;
}
.video-child-cont>ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.video-child-cont>ul>li{
    width: 33.333%;
    height: 100%;
    padding: 0 15px 70px 15px;
    box-sizing: border-box;
}
.video-child-cont>ul>li>a{
    width: 289px;
    height: 163px;
}
.video-child-cont>ul>li>a>img{
    width: 100%;
}
.video-child-cont>ul>li>p{
    display: flex;
    flex-direction: column;
    color: #444444;
}
.chap{
    padding: 9px 0 12px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
}
.title{
    font-size: 18px;
}

@media (max-width:1024px){
    .lnb{
        display: none;
    }
    .child-main{
        width: 100%;
    }
    .sub-wrap{
        display: flex;
        margin-top: 0;
        width: 100%;
    }
    .sub-contents-wrap{
        width: 100%;
        padding-left: 0;
        box-sizing: border-box;
    }
    .sub-contents-wrap .sub-tit-area{
        width: 100%;
        height: 41px;
        padding: 0 0 0 0;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .sub-tit{
        display: none;
    }
    .sub-tit .dot{
        display: inline-block;
        content: "";
        width: 4px;
        height: 4px;
        margin: 0 18px;
        border-radius: 50%;
        background: #000;
    }
    .sub-navi{
        width: 100%;
        padding: 0 20px;
        padding-top: 0;
        box-sizing: border-box;
    }
    .sub-navi .navi{
        display: flex;
        justify-content: flex-start;
        line-height: 41px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .sub-navi .navi>li{
        white-space: nowrap;
    }
    .video-child-cont{
        padding-top: 22.5px;
        margin-bottom: 88px;
    }
    .video-child-cont>ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .video-child-cont>ul>li{
        width: 50%;
        height: 100%;
    }
    
}

/* 초보투자자 교실 beginner */
.begin-wrap{
    width: 100%;
    margin-top: 35px;
}
.begin-tab-nav{
    display: flex;
    width: 100%;
}
.begin-tab-nav>li{
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 14px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}
.begin-tab-nav>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.des-tit::after{
    display: inline-block;
    content: "";
    width: 2px;
    height: 2px;
    margin: 4px 8px;
    border-radius: 50%;
    background: #000;
}
.begin-tab-list{
    width: 100%;
}
.begin-tab-list>li{
    width: 100%;
}
.des{
    padding: 23px 0 30px 0;
    text-align: center;
    font-size: 13px;
    color: #9d9d9d;
}
.des-tit{
    color: #000;
}
.begin-tab-inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.begin-tab-inner>li{
    width: 33.333%;
    height: 100%;
    padding: 0 13px 70px 13px;
}
.begin-tab-inner>li>a{
    width: 289px;
    height: 163px;
}
.begin-tab-inner>li>a>img{
    width: 100%;
}
.begin-tab-inner>li>p{
    display: flex;
    flex-direction: column;
    color: #444444;
}

@media(max-width:1024px){
    .begin-wrap{
        width: 100%;
        margin-top: 23px;
    }
    .begin-tab-nav{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .begin-tab-nav>li{
        width: 50%;
    }
    .des{
        display: none;
    }
    .begin-tab-list{
        margin-top: 30px;
    }
    .begin-tab-inner{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .begin-tab-inner>li{
        width: 50%;
        height: 100%;
        padding: 0 13px 70px 13px;
    }
    
}

.book-cont{
    width: 100%;
    margin-top: 46px;
    /* padding: 0 25px; */
    color: #444444;
    /* box-sizing: border-box; */
}
.book-cont>ul{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 100%;
}
.book-cont>ul>li{
    display: flex;
    width: 50%;
    margin-bottom: 87px;
}
.book-cont>ul>li>a{
    width: 190px;
    height: 289px;
}
.book-cont>ul>li>a>img{
    width: 100%;
}
.book-cont>ul>li p{
    display: flex;
    flex-direction: column;
    padding-left: 39px;
    box-sizing: border-box;
}
.book-cont>ul>li>p a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 15px 16px;
    margin-top: 83px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 13px;
}
@media(max-width : 1024px){
    .book-cont{
        width: 100%;
        margin-top: 20.5px;
        margin-bottom: 88px;
        color: #444444;
    }
    .book-cont>ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .book-cont>ul>li{
        display: flex;
        width: 100%;
        padding: 0 21px;
    }
    .book-cont>ul>li{
        margin-bottom: 22px;
    }
    .book-cont>ul>li>a{
        display: block;
        width: 130px;
        height: 177px;
    }
    .book-cont>ul>li>a>img{
        min-width: 130px;
    }
    .book-cont>ul>li p{
        display: flex;
        flex-direction: column;
        padding-left: 39px;
        box-sizing: border-box;
    }
    .book-cont>ul>li>p a{
        width: 86px;
        height: 37px;
        padding: 8px 8px;
        margin-top: 71px;
    }
}

.game-cont{
    margin: 49px 0 89px 0;
}
.game-cont>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.game-cont>ul>li{
    position: relative;
    width: calc(50% - 70px);
}
.game-cont>ul>li:nth-of-type(-n + 2){
    margin-bottom: 78px
}
.game-cont>ul>li>a{
    width: 445px;
    height: 327px;
}
.game-cont>ul>li>a>img{
    width: 100%;
}
.game-hov{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 44px 44px 47px 47px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
}
.game-hov img{
    align-self: flex-end;
    width: 27px;
    height: 27px;
}
.game-hov .chap{
    padding-top: 40%;
}

.game-cont>ul>li>a:hover .game-hov{
    opacity: 1;
}

@media (max-width : 1024px){
    .game-cont{
        margin: 19px 0 63px 0;
        padding: 0 22px;
    }
    .game-cont>ul>li{
        position: unset;
        width: 100%;
    }
    .game-cont>ul>li:nth-of-type(-n + 3){
        margin-bottom: 78px
    }
    .game-hov{
        display: none;
    }
}

.video-child-cont .des{
    padding: 0 0 30px 0;
}

.txt-cont{
    width: 100%;
    margin: 33px 0 238px 0;
}
.txt-cont-tit{
    display: flex;
    align-items: center;
    padding: 0 0 2px 23px;
    color: #00a8cd;
    font-size: 18px;
    box-sizing: border-box;
}
.txt-cont-tit>img{
    padding-right: 12px;
    box-sizing: border-box;
}
.txt-top-aera{
    padding-bottom: 45px;
}
.txt-cont ul{
    
    padding: 0 197px 0 62px;
    font-size: 16px;
    line-height: normal;
    text-align: justify;
}
.txt-cont ul li{
    padding: 20px 0;
}
.mb-txt-tit{
    display: none;
}

@media (max-width : 1024px){
    .mb-txt-tit{
        display: block;
        margin: 22px 0 33px 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .txt-cont{
        width: 100%;
        margin: 0 0 88px 0;
    }
    .txt-cont-tit{
        display: flex;
        align-items: center;
        padding: 0 0 2px 12px;
        color: #00a8cd;
        font-size: 18px;
        box-sizing: border-box;
    }
    .txt-cont-tit>img{
        width: 28px;
        padding-right: 12px;
        box-sizing: border-box;
    }
    .txt-top-aera{
        padding-bottom: 51px;
    }
    .txt-cont ul{
        padding: 0 11px 0 39px;
        font-size: 16px;
        line-height: normal;
        text-align: justify;
    }
    .txt-cont ul li{
        padding: 10px 0;
    }
}
.video-child-cont.det-wrap{
    margin-bottom: 190px;
}
.video-tit-wrap{
    display: flex;
    justify-content: space-between;
    color: #444444;
}
.video-tit-wrap p{
    display: flex;
    flex-direction: column;
}
.video-tit-wrap>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 15px 16px;
    margin-top: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 13px;
}

@media (max-width : 1024px){
    .video-tit-wrap{
        flex-direction: column;
    }
    .video-tit-wrap>a{
        width: 86px;
        height: 37px;
        padding: 8px 8px;
        margin-top: 20px;
    }
}

.etk-contents{
    margin-bottom: 112px;
}
.etk-navi{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    font-size: 16px;
    color: #9d9d9d;
}
.etk-navi>li::after{
    content: "｜";
    padding: 0 15px;
    box-sizing: border-box;
}

.etk-wrap{
    width: 100%;
    font-size: 16px;
    border-top: 1px solid #000;
}
.etk-title{
    padding: 24px 10px;
    border-bottom: 1px solid #DEDEDE;
    box-sizing: border-box;
    cursor: pointer;
    color: #313946;
}
.etk-inner-cont{
    padding: 15px 10px 99px 80px;
    border-bottom: 1px solid #DEDEDE;
    box-sizing: border-box;
    background: #fff;
    color: #000;
}

.blue{
    margin-right: 48.5px;
    color: #00a8cd;
}
.blue2{
    color: #00a8cd;
}
.desc{
    padding: 37px 43px;
    line-height: normal;
}
.desc>ul>li{
    padding-bottom: 40px;
    box-sizing: border-box;
}
/* 테이블1 */
.design-table{
    width: 100%;
    font-size: 14px;
}
.design-table caption{
    position: relative;
    margin-bottom: 13px;
    padding-left: 15px;
    color: #00a8cd;
    text-align: left;
    font-size: 16px;
}
.design-table caption::before{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    margin-right: 9px;
    top: 8px;
    left: -1px;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #00a8cd;
}
.design-table > table{
    width: 100%;
    height: 39px;
    border-bottom:1px solid #9d9d9d;
}
.design-table > table > thead > tr > th{
    border-left:1px solid #9d9d9d;
    border-top:1px solid #9d9d9d;
}
.design-table > table > caption + thead > tr:FIRST-CHILD > th,
.design-table > table > caption + colgroup + thead > tr:FIRST-CHILD > th{
    padding: 12px 0;
    border-top: 1px solid #00a8cd;
}
.design-table > table > tbody > tr > td {
    padding: 12px 0;
    text-align: center;
    border-left: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
}
.design-table > table > thead + tbody > tr:FIRST-CHILD > td,
.design-table > table > thead + tbody > tr:FIRST-CHILD > th {
    border-top: 1px solid #9d9d9d;
}
.design-table > table td:FIRST-CHILD,
.design-table > table th:FIRST-CHILD {
    border-left: 0;
}
.design-table > table > tbody th:FIRST-CHILD + th,
.design-table > table > tbody th.not-first-child {
    background-color: #fff
}

@media(max-width: 1024px) {
    .etk-navi{
        justify-content: center;
    }
    .etk-contents{
        padding: 0 11px;
    }
    .etk{
        width: 100%;
    }
    .etk-title{
        padding: 0 0;
    }
    .etk-title>span{
        display: flex;
        flex-direction: column;
        padding: 12px 14px;
    }
    .etk-inner-cont{
        padding: 12px 14px 30px 14px;
    }
    
    .blue{
        margin-right: 0;
        padding-bottom: 10px;
    }
    .desc{
        padding: 0 0;
    }
    /* 테이블1 */
    .design-table{
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .design-table > table{
        width: 800px;
        height: 39px;
        border-bottom:1px solid #9d9d9d;
    }
    
}

.desc>img{
    margin: 40px 0;
    overflow-x: scroll;
    overflow-y: hidden;
}
.txt-cont-tit.type{
    padding: 0 0 20px 1px;
    box-sizing: border-box;
}
.det-type>ul>li{
    padding: 20px 0;
    box-sizing: border-box;
}
.det-type>ul>li:first-of-type{
    padding-top: 0;
}
.type-subtit{
    position: relative;
    padding-left: 15px;
}
.type-subtit::before{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    margin-right: 9px;
    top: 8px;
    left: -1px;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #00a8cd;
}

.desc-txt2{
    padding-top: 20px;
}

.type-subtit-sub{
    font-size: 14px;
}

.design-table.thirdT{
    margin-top: 40px;
}
.design-table.thirdT > table > tbody > tr > td{
    border-left: 1px solid #9d9d9d;
}
.b-bt{
    border-bottom:1px solid #9d9d9d;
}
.b-rg{
    border-right: 1px solid #9d9d9d;
}
.design-table.secondT>tr, th, td{
    height: 100%;
    vertical-align: middle;
}
.design-table.forthT>tr, th, td{
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.btmB{
    border-bottom:1px solid #9d9d9d;
}
.blockPT{margin-top: 20px;}

.design-table.fifthT{
    margin-top: 40px;
}

.begin-tit.fut-deal{
    width: 25%;
    font-size: 16px;
}
.begin-list.fut-deal2{
    padding-top: 40px;
    box-sizing: border-box;
}
.begin-list.fut-deal2 .desc-txt2{
    padding-bottom: 40px;
    box-sizing: border-box;
}
.begin-list.fut-deal2>ul{
    padding-bottom: 40px;
    box-sizing: border-box;
}
.begin-list.fut-deal2>ul>li{
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.begin-list.fut-deal2 .fut-deal2-inner>img{
    margin-bottom: 20px;
}
.begin-list.fut-deal2 .fut-deal2-inner .pdP{
    padding-bottom: 40px;
    box-sizing: border-box;
}

.desc-txt.interest{
    padding: 40px 0;
    box-sizing: border-box;
}
.pdP2{
    margin: 20px 0;
    box-sizing: border-box;
}
.flexP1, .flexP2, .flexP3{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    box-sizing: border-box;
}
.blockP{
    margin-bottom: 20px;
}


.blue.op{
    margin-right: 79px;
    color: #00a8cd;
}

.po-sub-cont>li{
    padding: 10px 0;
    box-sizing: border-box;
}
.desc-txt.op-sub{
    padding-bottom: 10px;
}

.begin-tab-nav.op>li{
    width: 33.333%;
}

.txt-cont-tit.type.titP{
    padding-top: 40px;
}

.begin-list.op-deal2>ul>li>img{
    width: 100%;
    margin: 40px auto 0;
}
.desc-txt.op-deal2{
    padding-top: 20px;
}

.begin-tab-nav.op-va>li{
    width: 50%;
}

.design-table.sixthT caption{
    padding-left: 0;
}
.design-table.sixthT caption::before{
    display: none;
}
.design-table.eighthT caption{
    padding-left: 0;
}
.design-table.eighthT caption::before{
    display: none;
}

.bdN{
    border: none;
}

.flex-img{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.flex-img>img{
    width: 48%;
    margin-top: 20px;
}

.desc>ul>li.btmP{
    padding-bottom: 0;
}

.tenbt{
    padding-bottom: 10px;
}

@media (max-width : 1024px){
    .begin-tit.fut-deal{
        width: 50%;
    }
    .begin-tab-nav.op>li{
        width: 50%;
    }
    .flex-img{
        flex-wrap: wrap;
    }
    .flex-img>img{
        width: 100%;
        margin-top: 20px;
    }
}


.txt-cont ul li.reduceP{
    padding: 5px 0;
}

.design-table.nonAcT > table{
    width: 80%;
    margin-left:  61px;
}
.txt-bottom-area.corp{
    margin-top: 40px;
}

.flexT{
    display: flex;
    justify-content: space-between;
}
.design-table.tenthT{
    width: 30%;
}
.design-table.tenthT > table{
    width: 100%;
}

@media (max-width : 1024px){
    .flexT{
        display: block;
        justify-content: unset;
    }
    .design-table.nonAcT > table{
        width: 800px;
        margin-left:  61px;
    }
    .design-table.tenthT{
        width: 100%;
        padding: 20px 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .design-table.tenthT > table{
        width: 100%;
    }
}

