.log-main{
    max-width: 1280px;
    margin: 200px auto 171px;
}

.login-wrap{
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.login{
    padding: 50px 287px 84.5px 287px;
    box-sizing: border-box;
}
.login ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-title{
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 1.47;
    letter-spacing: -1.5px;
    font-weight: 500;
    color: #00a8cd;
    box-sizing: border-box;
}
.log-desc{
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: -0.8px;
    color: #313946;
    text-align: center;
    white-space: nowrap;
}
/* .log-btn{
    display: flex;
} */
.log-btn>a{
    padding: 15px 16px;
    letter-spacing: -1.2px;
    border-radius: 10px;
    background-color: #00a8cd;
    color: #fff;
}
.log-desc2{
    display: none;
}

@media (max-width : 1024px){
    .log-main{
        width: 100%;
        margin: 37px 0 117px 0;
    }
    .login-wrap{
        padding: 0 36px 0 36px;
        border: none;
    }
    .login{
        padding: 0 22px 0 22px;
        box-sizing: border-box;
    }
    .login ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login ul>li>img{
        display: none;
    }
    .log-title{
        padding-bottom: 16.9px;
        font-size: 30px;
        line-height: 1.47;
    }
    .log-desc{
        display: none;
    }
    .log-desc2{
        display: block;
    }
    .log-desc2{
        margin-bottom: 69px;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: -0.8px;
        white-space: initial;
        text-align: center;
    }
    .log-btn{
        display: flex;
        flex-direction: column;
    }
}